!!!
%html
  %head
    %title React Webpack Rails Example
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    #root
      = yield
    = javascript_include_tag 'application'
    = render 'layouts/react_hot_assets'
